body{
    font-family: Georgia;
    margin: 0;
}
.title{
    background-color: darkred;
    color: white;
    justify-content: space-between;
	align-items: center;
    display: flex;
}
.flex{
    display: flex;
}
.menu{
    display: flex;
    padding-right: 20px;
}
.name{
    padding-left: 20px;
}
.menu a{
    text-decoration: none;
	padding-left: 13px;
    color: white;
}
.basic{
    margin-top: 15px;
    background-color: skyblue;
}
.text{
    display: flex;
    align-items: center;
    padding-left: 13px;
    padding-right: 13px;
}
.text h3{
    margin-left: 13px;
}
.text p{
    margin-left: 13px;
}
.text img{
    margin: 13px;
}
.text a{
    text-decoration: none;
    color: red;
}
.text  a:hover  {color: yellow;}

.shorts h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}
.one img{
    align-items: center;
    margin: 0px;
}
.flex p{
    padding-left: 10px;
    padding-right: 10px;
 
}
.flex h4{
    padding-left: 10px;
}
 
button{
    background-color: darkred;
    color: white;
    border-color: none;
    border: 0;
    text-align: center;
    padding: 5px;
    margin-left: 10px;
}
.one{
    border: 1px lightgray solid;
    margin-right: 20px;
}
.two{
    border: 1px lightgray solid;
    margin-right: 20px;
}
.three{
    border: 1px lightgray solid;
    margin-right: 20px;
}
.four{
    border: 1px lightgray solid;
    
}